<a href="https://colab.research.google.com/github/SanjaySArkasali/FastTrack-Learning/blob/main/FastTrack_Loops.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# *enumerate() Function to get index and item.(Without enumerate it will give error)*

In [1]:
names = ["sara","Mehara", "somu", "Mono"]
for index, name in enumerate(names):
  print(f"{index},{name}")

0,sara
1,Mehara
2,somu
3,Mono

## *zip() Function to iterate through multiple lists*

In [2]:
fruits = ["apple", "orange", "green apple"]
random_num = [1, 2, 3]

for fruit, random in zip(fruits,random_num):
  print(f"randomnum:{random} fruits:{fruit}")

randomnum:1 fruits:apple
randomnum:2 fruits:orange
randomnum:3 fruits:green apple

## *for Loop with a Range and Step*

In [3]:
for i in range(0,10,2):
  print(i)

0
2
4
6
8

##*List* *Comprehension* *must use [ ]*

In [4]:
random_2 = [1,2,4,5,7,3,8]
test_1 = [x**2 for x in range(0,11,2)]
test_1

[0, 4, 16, 36, 64, 100]

## *Sets*

In [5]:
list_1 = [1,2,5,6]
list_2 = [5,6,7,89]

commonn_values = set(list_1).intersection(set(list_2))

print(type(commonn_values))

<class 'set'>

Certainly! Here are short notes summarizing the complex dictionary topics covered:

1. **Nested Dictionaries:**
   - Nested dictionaries allow you to create hierarchical data structures.
   - They are useful for representing complex relationships in data.
   - Access nested data by chaining keys, e.g., `dictionary['key1']['key2']`.

2. **Dictionary Comprehensions:**
   - Dictionary comprehensions are concise ways to create dictionaries from iterables.
   - They use a compact syntax that includes key-value pairs based on specified conditions.
   - Useful for filtering or transforming data when creating dictionaries.

3. **Merging Dictionaries:**
   - Merge dictionaries to combine data from multiple sources.
   - Python 3.9 introduced the `|` operator for merging dictionaries.
   - In older Python versions, use the `update()` method to combine dictionaries.

4. **Working with Dictionary Keys:**
   - Check if a key exists in a dictionary using `in` or `get()` method with a default value.
   - Avoid KeyError by verifying key existence before accessing its value.

5. **Default Dictionaries (collections.defaultdict):**
   - A `defaultdict` provides default values for missing keys.
   - Useful for counting occurrences, managing configurations, and handling missing keys gracefully.

6. **Dictionaries with Variable Keys:**
   - Dictionaries can use variables as keys, providing flexibility in data access.
   - This is handy for scenarios where keys are determined by variables, such as menus or dynamic configurations.

Understanding these advanced dictionary topics enhances your ability to work with complex data structures, efficiently manipulate data, and manage real-world scenarios involving dictionaries in Python.

# **Dictionary Operation**

In [6]:
my_dict = {'name':'sanjay', 'age':25, 'word':'hello'}

for key, element in my_dict.items():
  print(key, element)

name sanjay
age 25
word hello

In [7]:
data_dict = {
    'Bob':{
        'cost':2000,
        'Ethnicity':'Indian'
    },
    'Marley':{
        'cost':2001,
        'Ethnicity':'Indian'
    }
}

In [8]:
for name, data in data_dict.items():
  print(data)

{'cost': 2000, 'Ethnicity': 'Indian'}
{'cost': 2001, 'Ethnicity': 'Indian'}

## *Dictionary Comprehension*

In [9]:
indian  = { name for name , data in data_dict.items() if (data['Ethnicity'] == 'Indian') }
indian

{'Bob', 'Marley'}

In [10]:
indian_sum = sum(data['cost'] for name , data in data_dict.items() if (data['Ethnicity'] == 'Indian'))
indian_sum

4001

## *Aggregating Sales by region*

In [11]:
cost_by_name = {}
for name , data in data_dict.items():
  Ethnicity = data['Ethnicity']
  cost_by_name[Ethnicity] = cost_by_name.get(Ethnicity,0)+data['cost']
cost_by_name

{'Indian': 4001}

In [12]:
sample_dict = {
    'shop_1':{
        'region':'banglore',
        'sales':50000
    },
    'shop_2':{
        'region':'hubli',
        'sales':30000
    },
    'shop_3':{
        'region':'Dharwad',
        'sales':220000
    },
        'shop_4':{
        'region':'banglore',
        'sales':45000
    }
}

In [13]:
sales_by_region = {}

for shop, data in sample_dict.items():
  region = data['region']
  sales_by_region[region] = sales_by_region.get(region,0) + data['sales']

sales_by_region

{'banglore': 95000, 'hubli': 30000, 'Dharwad': 220000}

## *Using defaultdict to count the words in the string*

In [14]:
from collections import defaultdict

sample_string = "this is a string to count each words present, a is the hello present is sunday tmr is monday yee "

samle_word_count = defaultdict(int)

for word in sample_string.split():
  samle_word_count[word] += 1

print(samle_word_count)

defaultdict(<class 'int'>, {'this': 1, 'is': 4, 'a': 2, 'string': 1, 'to': 1, 'count': 1, 'each': 1, 'words': 1, 'present,': 1, 'the': 1, 'hello': 1, 'present': 1, 'sunday': 1, 'tmr': 1, 'monday': 1, 'yee': 1})

## *Searching by key*

In [15]:
search_var = 'shop_2'

if search_var in sample_dict:
  sales  = sample_dict[search_var]['sales']
  print(sales)
else:
  print('not found')

30000

## *Merging Dictoniries*

In [16]:
sample_dict_1 = {
    'shop_1':{
        'region':'banglore',
        'sales':50000
    },
    'shop_2':{
        'region':'hubli',
        'sales':30000
    },
    'shop_3':{
        'region':'Dharwad',
        'sales':220000
    },
    'shop_4':{
        'region':'banglore',
        'sales':45000
    }
}

sample_dict_2 = {
    'shop_2':{
        'region':'hubli',
        'sales':30000
    },
    'shop_3':{
        'region':'Dharwad',
        'sales':20000
    },
    'shop_5':{
        'region':'banglore',
        'sales':45000
    }
      }


sample_dict_1.update(sample_dict_2) # will combine and overwrite dubliates
sample_dict_1

{'shop_1': {'region': 'banglore', 'sales': 50000},
 'shop_2': {'region': 'hubli', 'sales': 30000},
 'shop_3': {'region': 'Dharwad', 'sales': 20000},
 'shop_4': {'region': 'banglore', 'sales': 45000},
 'shop_5': {'region': 'banglore', 'sales': 45000}}

In [17]:
from collections import ChainMap

merged_dict = dict(ChainMap(sample_dict_1,sample_dict_2))
merged_dict

{'shop_2': {'region': 'hubli', 'sales': 30000},
 'shop_3': {'region': 'Dharwad', 'sales': 20000},
 'shop_5': {'region': 'banglore', 'sales': 45000},
 'shop_1': {'region': 'banglore', 'sales': 50000},
 'shop_4': {'region': 'banglore', 'sales': 45000}}

# **List Operations (deep dive)**

## *Filter()* to filter data based on a condition creates new list combined with lambda function

In [18]:
sample_numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

even_filtered_numbers  = list(filter(lambda x : x%2==0, sample_numbers))
print(even_filtered_numbers)

[2, 4, 6, 8, 10]

## *map() function applies function to the list* also map() and filter()

In [23]:
#applying a squaring to a list

squared_numbers = list(map(lambda x:x**2, sample_numbers))
print(squared_numbers)

#applying function base based on condition that is using map() and filter()

even_square_numbers = list(map(lambda x:x**2,filter(lambda x:x%2==0, sample_numbers)))
print(even_square_numbers)

#doing the same using list comprehension
even_square_numbers = list( x**2 for x in sample_numbers if x%2==0  )
print(even_square_numbers)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
[4, 16, 36, 64, 100]
[4, 16, 36, 64, 100]

## *slicing list using index*

In [30]:
slice_numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
subset = slice_numbers[1:5] #inital index is included and the ending index is excluded
print(subset)
print(f"total  : {sum(slice_numbers)}")
print(f"minimum: {min(slice_numbers)}")
print(f"maximum: {max(slice_numbers)}")

[2, 3, 4, 5]
total  : 55
minimum: 1
maximum: 10

## *Unique Values using set()*

In [37]:
slice_numbers = [1, 2, 3, 6,3,5,6,'list','hello',7,3,4, 5, 6, 7, 8, 9, 10]


unique_numbers = list(set(slice_numbers))
print("all           :",slice_numbers)
print("Unique values :",unique_numbers)

all           : [1, 2, 3, 6, 3, 5, 6, 'list', 'hello', 7, 3, 4, 5, 6, 7, 8, 9, 10]
Unique values : [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 'hello', 'list']

## *Counter*

In [41]:
from collections import Counter

count_number = Counter(slice_numbers)
print(count_number)


from collections import defaultdict

counter_dict = defaultdict(int)
for x in slice_numbers:
  counter_dict[x] +=1

print(counter_dict)

Counter({3: 3, 6: 3, 5: 2, 7: 2, 1: 1, 2: 1, 'list': 1, 'hello': 1, 4: 1, 8: 1, 9: 1, 10: 1})
defaultdict(<class 'int'>, {1: 1, 2: 1, 3: 3, 6: 3, 5: 2, 'list': 1, 'hello': 1, 7: 2, 4: 1, 8: 1, 9: 1, 10: 1})

## *Slicing using stride ::*

In [43]:
stride_slice = sample_numbers[::2]
print(stride_slice)

#reverse

stride_slice = sample_numbers[::-1]
print(stride_slice)

[1, 3, 5, 7, 9]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

# **Pandas**

In [69]:
import pandas as pd

df = pd.read_csv("/content/sample_data/california_housing_test.csv")

## EDA using Pandas

In [70]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           3000 non-null   float64
 1   latitude            3000 non-null   float64
 2   housing_median_age  3000 non-null   float64
 3   total_rooms         3000 non-null   float64
 4   total_bedrooms      3000 non-null   float64
 5   population          3000 non-null   float64
 6   households          3000 non-null   float64
 7   median_income       3000 non-null   float64
 8   median_house_value  3000 non-null   float64
dtypes: float64(9)
memory usage: 211.1 KB

In [71]:
df.describe()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
count,3000.000000,3000.00000,3000.000000,3000.000000,3000.000000,3000.000000,3000.00000,3000.000000,3000.00000
mean,-119.589200,35.63539,28.845333,2599.578667,529.950667,1402.798667,489.91200,3.807272,205846.27500
std,1.994936,2.12967,12.555396,2155.593332,415.654368,1030.543012,365.42271,1.854512,113119.68747
min,-124.180000,32.56000,1.000000,6.000000,2.000000,5.000000,2.00000,0.499900,22500.00000
25%,-121.810000,33.93000,18.000000,1401.000000,291.000000,780.000000,273.00000,2.544000,121200.00000
50%,-118.485000,34.27000,29.000000,2106.000000,437.000000,1155.000000,409.50000,3.487150,177650.00000
75%,-118.020000,37.69000,37.000000,3129.000000,636.000000,1742.750000,597.25000,4.656475,263975.00000
max,-114.490000,41.92000,52.000000,30450.000000,5419.000000,11935.000000,4930.00000,15.000100,500001.00000

In [72]:
df.head(10)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-122.05,37.37,27.0,3885.0,661.0,1537.0,606.0,6.6085,344700.0
1,-118.30,34.26,43.0,1510.0,310.0,809.0,277.0,3.5990,176500.0
2,-117.81,33.78,27.0,3589.0,507.0,1484.0,495.0,5.7934,270500.0
3,-118.36,33.82,28.0,67.0,15.0,49.0,11.0,6.1359,330000.0
4,-119.67,36.33,19.0,1241.0,244.0,850.0,237.0,2.9375,81700.0
5,-119.56,36.51,37.0,1018.0,213.0,663.0,204.0,1.6635,67000.0
6,-121.43,38.63,43.0,1009.0,225.0,604.0,218.0,1.6641,67000.0
7,-120.65,35.48,19.0,2310.0,471.0,1341.0,441.0,3.2250,166900.0
8,-122.84,38.40,15.0,3080.0,617.0,1446.0,599.0,3.6696,194400.0
9,-118.02,34.08,31.0,2402.0,632.0,2830.0,603.0,2.3333,164200.0

In [73]:
selected_rows = pd.concat([df.head(10) , df[len(df)//2-5:len(df)//2 +5], df.tail(10)])
selected_rows

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-122.05,37.37,27.0,3885.0,661.0,1537.0,606.0,6.6085,344700.0
1,-118.30,34.26,43.0,1510.0,310.0,809.0,277.0,3.5990,176500.0
2,-117.81,33.78,27.0,3589.0,507.0,1484.0,495.0,5.7934,270500.0
3,-118.36,33.82,28.0,67.0,15.0,49.0,11.0,6.1359,330000.0
4,-119.67,36.33,19.0,1241.0,244.0,850.0,237.0,2.9375,81700.0
5,-119.56,36.51,37.0,1018.0,213.0,663.0,204.0,1.6635,67000.0
6,-121.43,38.63,43.0,1009.0,225.0,604.0,218.0,1.6641,67000.0
7,-120.65,35.48,19.0,2310.0,471.0,1341.0,441.0,3.2250,166900.0
8,-122.84,38.40,15.0,3080.0,617.0,1446.0,599.0,3.6696,194400.0
9,-118.02,34.08,31.0,2402.0,632.0,2830.0,603.0,2.3333,164200.0
1495,-121.92,36.63,40.0,1076.0,193.0,406.0,180.0,3.4943,311100.0
1496,-120.44,37.31,16.0,3369.0,532.0,1770.0,574.0,5.2662,126200.0
1497,-117.18,32.70,44.0,2655.0,514.0,1102.0,489.0,3.6759,368800.0
1498,-121.57,39.12,30.0,2601.0,534.0,1702.0,506.0,2.0800,56600.0
1499,-122.21,37.79,52.0,762.0,190.0,600.0,195.0,3.0893,125000.0
1500,-118.91,35.30,28.0,1793.0,358.0,1233.0,351.0,2.7845,82200.0
1501,-121.95,37.32,20.0,1145.0,198.0,431.0,173.0,3.1103,281900.0
1502,-121.35,38.68,20.0,7085.0,1222.0,3455.0,1229.0,4.3118,120000.0
1503,-121.28,38.76,47.0,2901.0,631.0,1276.0,578.0,2.1366,101900.0
1504,-118.35,33.89,30.0,1143.0,299.0,776.0,273.0,4.2829,240000.0
2990,-118.23,34.09,49.0,1638.0,456.0,1500.0,430.0,2.6923,150000.0
2991,-117.17,34.28,13.0,4867.0,718.0,780.0,250.0,7.1997,253800.0
2992,-122.33,37.39,52.0,573.0,102.0,232.0,92.0,6.2263,500001.0
2993,-117.91,33.60,37.0,2088.0,510.0,673.0,390.0,5.1048,500001.0
2994,-117.93,33.86,35.0,931.0,181.0,516.0,174.0,5.5867,182500.0
2995,-119.86,34.42,23.0,1450.0,642.0,1258.0,607.0,1.1790,225000.0
2996,-118.14,34.06,27.0,5257.0,1082.0,3496.0,1036.0,3.3906,237200.0
2997,-119.70,36.30,10.0,956.0,201.0,693.0,220.0,2.2895,62000.0
2998,-117.12,34.10,40.0,96.0,14.0,46.0,14.0,3.2708,162500.0
2999,-119.63,34.42,42.0,1765.0,263.0,753.0,260.0,8.5608,500001.0

In [74]:
# for first quarter
df.head(10)
# for second quarter
second_quarter = df[len(df)//2 - 5 : len(df)//2 + 5]
second_quarter
# for third quarter
third_quarter = df[3*len(df)//4 - 5 : 3*len(df)//4 + 5]
third_quarter
# for data form last quarter
df.tail(10)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
2990,-118.23,34.09,49.0,1638.0,456.0,1500.0,430.0,2.6923,150000.0
2991,-117.17,34.28,13.0,4867.0,718.0,780.0,250.0,7.1997,253800.0
2992,-122.33,37.39,52.0,573.0,102.0,232.0,92.0,6.2263,500001.0
2993,-117.91,33.60,37.0,2088.0,510.0,673.0,390.0,5.1048,500001.0
2994,-117.93,33.86,35.0,931.0,181.0,516.0,174.0,5.5867,182500.0
2995,-119.86,34.42,23.0,1450.0,642.0,1258.0,607.0,1.1790,225000.0
2996,-118.14,34.06,27.0,5257.0,1082.0,3496.0,1036.0,3.3906,237200.0
2997,-119.70,36.30,10.0,956.0,201.0,693.0,220.0,2.2895,62000.0
2998,-117.12,34.10,40.0,96.0,14.0,46.0,14.0,3.2708,162500.0
2999,-119.63,34.42,42.0,1765.0,263.0,753.0,260.0,8.5608,500001.0

### *I call it a five_t_sampling basically ten samples from 0%,  25%, 50%, 75%, 100% (Five Ten Samples)*

In [81]:
# combine to get 10 samples from each quarters

five_t_samples = pd.concat([df.head(10) ,df[len(df)//4 - 5: len(df)//4 + 5] ,df[len(df)//2 -5  : len(df)//2 +5] , df[ 3 * len(df)//4 - 5:3 * len(df)//4 + 5], df.tail(10)])
# selected_rows = pd.concat([df.head(10) , df[len(df)//2-5:len(df)//2 +5],df[ 3 * len(df)//4 - 5:3 * len(df)//4 + 5],df.tail(10)])

five_t_samples

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-122.05,37.37,27.0,3885.0,661.0,1537.0,606.0,6.6085,344700.0
1,-118.30,34.26,43.0,1510.0,310.0,809.0,277.0,3.5990,176500.0
2,-117.81,33.78,27.0,3589.0,507.0,1484.0,495.0,5.7934,270500.0
3,-118.36,33.82,28.0,67.0,15.0,49.0,11.0,6.1359,330000.0
4,-119.67,36.33,19.0,1241.0,244.0,850.0,237.0,2.9375,81700.0
5,-119.56,36.51,37.0,1018.0,213.0,663.0,204.0,1.6635,67000.0
6,-121.43,38.63,43.0,1009.0,225.0,604.0,218.0,1.6641,67000.0
7,-120.65,35.48,19.0,2310.0,471.0,1341.0,441.0,3.2250,166900.0
8,-122.84,38.40,15.0,3080.0,617.0,1446.0,599.0,3.6696,194400.0
9,-118.02,34.08,31.0,2402.0,632.0,2830.0,603.0,2.3333,164200.0
745,-117.97,33.82,26.0,4013.0,985.0,2442.0,922.0,3.7655,197700.0
746,-118.28,34.05,41.0,1075.0,597.0,2260.0,614.0,1.3000,162500.0
747,-118.39,33.79,30.0,4402.0,563.0,1582.0,551.0,10.8980,500001.0
748,-122.40,37.58,26.0,3281.0,531.0,1145.0,480.0,6.3580,500001.0
749,-118.26,34.06,42.0,2541.0,1282.0,3974.0,1189.0,1.5854,87500.0
750,-122.16,37.48,36.0,2238.0,479.0,1949.0,457.0,2.3769,157300.0
751,-117.43,34.11,17.0,4109.0,884.0,2544.0,780.0,2.7757,109800.0
752,-118.28,33.93,42.0,1898.0,460.0,1503.0,429.0,2.5179,97400.0
753,-118.37,33.95,5.0,6955.0,2062.0,3591.0,1566.0,3.1110,247600.0
754,-121.49,38.56,52.0,1777.0,368.0,624.0,350.0,3.6729,137800.0
1495,-121.92,36.63,40.0,1076.0,193.0,406.0,180.0,3.4943,311100.0
1496,-120.44,37.31,16.0,3369.0,532.0,1770.0,574.0,5.2662,126200.0
1497,-117.18,32.70,44.0,2655.0,514.0,1102.0,489.0,3.6759,368800.0
1498,-121.57,39.12,30.0,2601.0,534.0,1702.0,506.0,2.0800,56600.0
1499,-122.21,37.79,52.0,762.0,190.0,600.0,195.0,3.0893,125000.0
1500,-118.91,35.30,28.0,1793.0,358.0,1233.0,351.0,2.7845,82200.0
1501,-121.95,37.32,20.0,1145.0,198.0,431.0,173.0,3.1103,281900.0
1502,-121.35,38.68,20.0,7085.0,1222.0,3455.0,1229.0,4.3118,120000.0
1503,-121.28,38.76,47.0,2901.0,631.0,1276.0,578.0,2.1366,101900.0
1504,-118.35,33.89,30.0,1143.0,299.0,776.0,273.0,4.2829,240000.0
2245,-117.95,34.14,33.0,1943.0,440.0,1526.0,353.0,3.0380,137500.0
2246,-118.16,34.69,35.0,3114.0,583.0,1974.0,545.0,3.9028,126800.0
2247,-121.48,39.10,19.0,2043.0,421.0,1018.0,390.0,2.5952,92400.0
2248,-117.53,33.94,21.0,5675.0,935.0,2834.0,865.0,4.2263,203200.0
2249,-122.29,37.91,40.0,2085.0,329.0,796.0,339.0,5.5357,273700.0
2250,-121.78,38.69,31.0,2547.0,535.0,1579.0,509.0,2.6774,95800.0
2251,-117.97,33.84,34.0,874.0,153.0,549.0,153.0,4.8667,186800.0
2252,-122.26,37.86,52.0,3774.0,744.0,1461.0,679.0,2.9405,289500.0
2253,-117.96,33.69,20.0,3123.0,441.0,1319.0,432.0,6.0910,290400.0
2254,-118.39,34.19,36.0,904.0,191.0,627.0,191.0,2.4167,192900.0
2990,-118.23,34.09,49.0,1638.0,456.0,1500.0,430.0,2.6923,150000.0
2991,-117.17,34.28,13.0,4867.0,718.0,780.0,250.0,7.1997,253800.0
2992,-122.33,37.39,52.0,573.0,102.0,232.0,92.0,6.2263,500001.0
2993,-117.91,33.60,37.0,2088.0,510.0,673.0,390.0,5.1048,500001.0
2994,-117.93,33.86,35.0,931.0,181.0,516.0,174.0,5.5867,182500.0
2995,-119.86,34.42,23.0,1450.0,642.0,1258.0,607.0,1.1790,225000.0
2996,-118.14,34.06,27.0,5257.0,1082.0,3496.0,1036.0,3.3906,237200.0
2997,-119.70,36.30,10.0,956.0,201.0,693.0,220.0,2.2895,62000.0
2998,-117.12,34.10,40.0,96.0,14.0,46.0,14.0,3.2708,162500.0
2999,-119.63,34.42,42.0,1765.0,263.0,753.0,260.0,8.5608,500001.0