<a href="https://colab.research.google.com/github/SanjaySArkasali/FastTrack-Learning/blob/main/FastTrack_Loops.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# *enumerate() Function to get index and item.(Without enumerate it will give error)*

In [1]:
names = ["sara","Mehara", "somu", "Mono"]
for index, name in enumerate(names):
  print(f"{index},{name}")

0,sara
1,Mehara
2,somu
3,Mono

## *zip() Function to iterate through multiple lists*

In [2]:
fruits = ["apple", "orange", "green apple"]
random_num = [1, 2, 3]

for fruit, random in zip(fruits,random_num):
  print(f"randomnum:{random} fruits:{fruit}")

randomnum:1 fruits:apple
randomnum:2 fruits:orange
randomnum:3 fruits:green apple

## *for Loop with a Range and Step*

In [3]:
for i in range(0,10,2):
  print(i)

0
2
4
6
8

##*List* *Comprehension* *must use [ ]*

In [4]:
random_2 = [1,2,4,5,7,3,8]
test_1 = [x**2 for x in range(0,11,2)]
test_1

[0, 4, 16, 36, 64, 100]

## *Sets*

In [5]:
list_1 = [1,2,5,6]
list_2 = [5,6,7,89]

commonn_values = set(list_1).intersection(set(list_2))

print(type(commonn_values))

<class 'set'>

Certainly! Here are short notes summarizing the complex dictionary topics covered:

1. **Nested Dictionaries:**
   - Nested dictionaries allow you to create hierarchical data structures.
   - They are useful for representing complex relationships in data.
   - Access nested data by chaining keys, e.g., `dictionary['key1']['key2']`.

2. **Dictionary Comprehensions:**
   - Dictionary comprehensions are concise ways to create dictionaries from iterables.
   - They use a compact syntax that includes key-value pairs based on specified conditions.
   - Useful for filtering or transforming data when creating dictionaries.

3. **Merging Dictionaries:**
   - Merge dictionaries to combine data from multiple sources.
   - Python 3.9 introduced the `|` operator for merging dictionaries.
   - In older Python versions, use the `update()` method to combine dictionaries.

4. **Working with Dictionary Keys:**
   - Check if a key exists in a dictionary using `in` or `get()` method with a default value.
   - Avoid KeyError by verifying key existence before accessing its value.

5. **Default Dictionaries (collections.defaultdict):**
   - A `defaultdict` provides default values for missing keys.
   - Useful for counting occurrences, managing configurations, and handling missing keys gracefully.

6. **Dictionaries with Variable Keys:**
   - Dictionaries can use variables as keys, providing flexibility in data access.
   - This is handy for scenarios where keys are determined by variables, such as menus or dynamic configurations.

Understanding these advanced dictionary topics enhances your ability to work with complex data structures, efficiently manipulate data, and manage real-world scenarios involving dictionaries in Python.

# **Dictionary Operation**

In [6]:
my_dict = {'name':'sanjay', 'age':25, 'word':'hello'}

for key, element in my_dict.items():
  print(key, element)

name sanjay
age 25
word hello

In [7]:
data_dict = {
    'Bob':{
        'cost':2000,
        'Ethnicity':'Indian'
    },
    'Marley':{
        'cost':2001,
        'Ethnicity':'Indian'
    }
}

In [8]:
for name, data in data_dict.items():
  print(data)

{'cost': 2000, 'Ethnicity': 'Indian'}
{'cost': 2001, 'Ethnicity': 'Indian'}

## *Dictionary Comprehension*

In [9]:
indian  = { name for name , data in data_dict.items() if (data['Ethnicity'] == 'Indian') }
indian

{'Bob', 'Marley'}

In [10]:
indian_sum = sum(data['cost'] for name , data in data_dict.items() if (data['Ethnicity'] == 'Indian'))
indian_sum

4001

## *Aggregating Sales by region*

In [11]:
cost_by_name = {}
for name , data in data_dict.items():
  Ethnicity = data['Ethnicity']
  cost_by_name[Ethnicity] = cost_by_name.get(Ethnicity,0)+data['cost']
cost_by_name

{'Indian': 4001}

In [12]:
sample_dict = {
    'shop_1':{
        'region':'banglore',
        'sales':50000
    },
    'shop_2':{
        'region':'hubli',
        'sales':30000
    },
    'shop_3':{
        'region':'Dharwad',
        'sales':220000
    },
        'shop_4':{
        'region':'banglore',
        'sales':45000
    }
}

In [13]:
sales_by_region = {}

for shop, data in sample_dict.items():
  region = data['region']
  sales_by_region[region] = sales_by_region.get(region,0) + data['sales']

sales_by_region

{'banglore': 95000, 'hubli': 30000, 'Dharwad': 220000}

## *Using defaultdict to count the words in the string*

In [14]:
from collections import defaultdict

sample_string = "this is a string to count each words present, a is the hello present is sunday tmr is monday yee "

samle_word_count = defaultdict(int)

for word in sample_string.split():
  samle_word_count[word] += 1

print(samle_word_count)

defaultdict(<class 'int'>, {'this': 1, 'is': 4, 'a': 2, 'string': 1, 'to': 1, 'count': 1, 'each': 1, 'words': 1, 'present,': 1, 'the': 1, 'hello': 1, 'present': 1, 'sunday': 1, 'tmr': 1, 'monday': 1, 'yee': 1})

## *Searching by key*

In [15]:
search_var = 'shop_2'

if search_var in sample_dict:
  sales  = sample_dict[search_var]['sales']
  print(sales)
else:
  print('not found')

30000

## *Merging Dictoniries*

In [16]:
sample_dict_1 = {
    'shop_1':{
        'region':'banglore',
        'sales':50000
    },
    'shop_2':{
        'region':'hubli',
        'sales':30000
    },
    'shop_3':{
        'region':'Dharwad',
        'sales':220000
    },
    'shop_4':{
        'region':'banglore',
        'sales':45000
    }
}

sample_dict_2 = {
    'shop_2':{
        'region':'hubli',
        'sales':30000
    },
    'shop_3':{
        'region':'Dharwad',
        'sales':20000
    },
    'shop_5':{
        'region':'banglore',
        'sales':45000
    }
      }


sample_dict_1.update(sample_dict_2) # will combine and overwrite dubliates
sample_dict_1

{'shop_1': {'region': 'banglore', 'sales': 50000},
 'shop_2': {'region': 'hubli', 'sales': 30000},
 'shop_3': {'region': 'Dharwad', 'sales': 20000},
 'shop_4': {'region': 'banglore', 'sales': 45000},
 'shop_5': {'region': 'banglore', 'sales': 45000}}

In [17]:
from collections import ChainMap

merged_dict = dict(ChainMap(sample_dict_1,sample_dict_2))
merged_dict

{'shop_2': {'region': 'hubli', 'sales': 30000},
 'shop_3': {'region': 'Dharwad', 'sales': 20000},
 'shop_5': {'region': 'banglore', 'sales': 45000},
 'shop_1': {'region': 'banglore', 'sales': 50000},
 'shop_4': {'region': 'banglore', 'sales': 45000}}

# **List Operations (deep dive)**

## *Filter()* to filter data based on a condition creates new list combined with lambda function

In [18]:
sample_numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

even_filtered_numbers  = list(filter(lambda x : x%2==0, sample_numbers))
print(even_filtered_numbers)

[2, 4, 6, 8, 10]

## *map() function applies function to the list* also map() and filter()

In [23]:
#applying a squaring to a list

squared_numbers = list(map(lambda x:x**2, sample_numbers))
print(squared_numbers)

#applying function base based on condition that is using map() and filter()

even_square_numbers = list(map(lambda x:x**2,filter(lambda x:x%2==0, sample_numbers)))
print(even_square_numbers)

#doing the same using list comprehension
even_square_numbers = list( x**2 for x in sample_numbers if x%2==0  )
print(even_square_numbers)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
[4, 16, 36, 64, 100]
[4, 16, 36, 64, 100]

## *slicing list using index*

In [30]:
slice_numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
subset = slice_numbers[1:5] #inital index is included and the ending index is excluded
print(subset)
print(f"total  : {sum(slice_numbers)}")
print(f"minimum: {min(slice_numbers)}")
print(f"maximum: {max(slice_numbers)}")

[2, 3, 4, 5]
total  : 55
minimum: 1
maximum: 10

## *Unique Values using set()*

In [34]:
slice_numbers = [1, 2, 3, 6,3,5,6,7,3,4, 5, 6, 7, 8, 9, 10]


unique_numbers = list(set(slice_numbers))
print("all          :",slice_numbers)
print("Unique values:",unique_numbers)

all          : [1, 2, 3, 6, 3, 5, 6, 7, 3, 4, 5, 6, 7, 8, 9, 10]
Unique values: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]