<a href="https://colab.research.google.com/github/SanjaySArkasali/FastTrack-Learning/blob/main/FastTrack_Loops.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# *enumerate() Function to get index and item.(Without enumerate it will give error)*

In [ ]:
names = ["sara","Mehara", "somu", "Mono"]
for index, name in enumerate(names):
  print(f"{index},{name}")

0,sara
1,Mehara
2,somu
3,Mono

## *zip() Function to iterate through multiple lists*

In [ ]:
fruits = ["apple", "orange", "green apple"]
random_num = [1, 2, 3]

for fruit, random in zip(fruits,random_num):
  print(f"randomnum:{random} fruits:{fruit}")

randomnum:1 fruits:apple
randomnum:2 fruits:orange
randomnum:3 fruits:green apple

## *for Loop with a Range and Step*

In [ ]:
for i in range(0,10,2):
  print(i)

0
2
4
6
8

##*List* *Comprehension* *must use [ ]*

In [ ]:
random_2 = [1,2,4,5,7,3,8]
test_1 = [x**2 for x in range(0,11,2)]
test_1

[0, 4, 16, 36, 64, 100]

## *Working with Dicts*

In [ ]:
my_dict = {'name':'sanjay', 'age':25, 'word':'hello'}

for key, element in my_dict.items():
  print(key, element)

name sanjay
age 25
word hello

In [ ]:
list_1 = [1,2,5,6]
list_2 = [5,6,7,89]

commonn_values = set(list_1).intersection(set(list_2))

print(type(commonn_values))

<class 'set'>

In [ ]:
import numpy as np

print(np.array(list_1).sum())

14

Certainly! Here are short notes summarizing the complex dictionary topics covered:

1. **Nested Dictionaries:**
   - Nested dictionaries allow you to create hierarchical data structures.
   - They are useful for representing complex relationships in data.
   - Access nested data by chaining keys, e.g., `dictionary['key1']['key2']`.

2. **Dictionary Comprehensions:**
   - Dictionary comprehensions are concise ways to create dictionaries from iterables.
   - They use a compact syntax that includes key-value pairs based on specified conditions.
   - Useful for filtering or transforming data when creating dictionaries.

3. **Merging Dictionaries:**
   - Merge dictionaries to combine data from multiple sources.
   - Python 3.9 introduced the `|` operator for merging dictionaries.
   - In older Python versions, use the `update()` method to combine dictionaries.

4. **Working with Dictionary Keys:**
   - Check if a key exists in a dictionary using `in` or `get()` method with a default value.
   - Avoid KeyError by verifying key existence before accessing its value.

5. **Default Dictionaries (collections.defaultdict):**
   - A `defaultdict` provides default values for missing keys.
   - Useful for counting occurrences, managing configurations, and handling missing keys gracefully.

6. **Dictionaries with Variable Keys:**
   - Dictionaries can use variables as keys, providing flexibility in data access.
   - This is handy for scenarios where keys are determined by variables, such as menus or dynamic configurations.

Understanding these advanced dictionary topics enhances your ability to work with complex data structures, efficiently manipulate data, and manage real-world scenarios involving dictionaries in Python.

In [ ]:
from collections import defaultdict

word_count = defaultdict(int)
text = "This is a sample text with some words. This is an example."

for word in text.split():
    word_count[word] += 1

print(word_count)  # Output: 2

defaultdict(<class 'int'>, {'This': 2, 'is': 2, 'a': 1, 'sample': 1, 'text': 1, 'with': 1, 'some': 1, 'words.': 1, 'an': 1, 'example.': 1})

In [1]:
#simple dictionary operations

In [13]:
data_dict = {
    'Bob':{
        'cost':2000,
        'Ethnicity':'Indian'
    },
    'Marley':{
        'cost':2001,
        'Ethnicity':'Indian'
    }
}

In [6]:
for name, data in data_dict.items():
  print(data)

{'cost': 2000, 'Ethnicity': 'Indian'}
{'cost': 2001, 'Ethnicity': 'Indian'}

In [9]:
indian  = [ name for name , data in data_dict.items() if (data['Ethnicity'] == 'Indian') ]
indian

['Bob']

In [14]:
indian_sum = sum(data['cost'] for name , data in data_dict.items() if (data['Ethnicity'] == 'Indian'))
indian_sum

4001

In [18]:
cost_by_name = {}
for name , data in data_dict.items():
  Ethnicity = data['Ethnicity']
  cost_by_name[Ethnicity] = cost_by_name.get(Ethnicity,0)+data['cost']
cost_by_name

{'Indian': 4001}

In [19]:
sample_dict = {
    'shop_1':{
        'region':'banglore',
        'sales':50000
    },
    'shop_2':{
        'region':'hubli',
        'sales':30000
    },
    'shop_3':{
        'region':'Dharwad',
        'sales':220000
    },
        'shop_4':{
        'region':'banglore',
        'sales':45000
    }
}

In [22]:
sales_by_region = {}

for shop, data in sample_dict.items():
  region = data['region']
  sales_by_region[region] = sales_by_region.get(region,0) + data['sales']

sales_by_region

{'banglore': 95000, 'hubli': 30000, 'Dharwad': 220000}